.EditorMainDiv {
  border: solid red;
  color: white;
}
.EditorSideBar {
  position: fixed;
  width: 16%;
  height: 100vh;
  border: solid blue;
  box-sizing: border-box;
  grid-template-rows: 100px 1fr 150px;
  display: grid;
}
.EditorTeminalDiv {
  margin-left: 16%;
}
.EditorSideBar > :nth-child(1) {
  border: solid green;
}
.EditorSideBar > :nth-child(2) {
  border: solid pink;
  display: flex;
  flex-direction: column;
}
.EditorSideBar > :nth-child(3) {
  display: flex;
  flex-direction: column;
  border: solid orange;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.EditorSideBar > :nth-child(3) > :nth-child(1) {
  width: 80%;
  height: 40px;
  border-radius: 10px;
}
.EditorSideBar > :nth-child(3) > :nth-child(2) {
  width: 80%;
  height: 40px;
  border-radius: 10px;
}
.Editor_EditorTeminalDiv__FJQ3a > :nth-child(3) {
  display: none;
  border: solid 5px blue;
}
